{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="profile-info">
    <img src="{{ user.picture.url }}" height="200" width="200">
    <div>{{ user.first_name }} {{ user.last_name }} </div>
    <div>email: {{ user.email }}</div>
    <div>Joined on {{ user.date_joined.year }} .{{ user.date_joined.month }}</div>
</div>

<div id="foll-events">
    <div id="following-followers">
    {% if to_follow_button %}
        {% if is_following %}
        <a href="/social/unfollow/{{user.id}}">unfollow</a>
        {% else %}
        <a href="/social/follow/{{user.id}}">follow</a>
        {% endif %}
    {% endif %}
        <article>
            Following
            <p>Total {{following|length}}</p>
            {% for user in following|slice:"0:3" %}
            <div>
                <a href="/social/profile/{{ user.id }}"><img src="{{ user.picture.url }}" height="100" width="100"></a>
                <div>{{ user.first_name }} {{ user.last_name }}</div>
            </div>
            {% endfor %}
        </article>

        <article>
            Followers
            <p>Total {{followers|length}}</p>
           {% for user in followers|slice:"0:3" %}
            <div>
                <a href="/social/profile/{{ user.id }}"><img src="{{ user.picture.url }}" height="100" width="100"></a>
                <div>{{ user.first_name }} {{ user.last_name }}</div>
            </div>
            {% endfor %}
        </article>
    </div>
    <div id="events">
        <p><a href="/calendar/daily_events/">Daily events</a></p>
        <p><a href="/calendar/monthly_events/">Montly events</a></p>
        <div>
            <p>Check events for paticular month:</p>
            <div id="calendar">
            {% include "month_calendar.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
