<form enctype="multipart/form-data" action="/social/register/" method="post">
    {% csrf_token %}
    {{ form_register }}
    <input type="submit" value="Submit" />
</form>

<form enctype="multipart/form-data" action="/social/login/" method="post">
    {% csrf_token %}
    {{ form_login }}
    <input type="submit" value="Submit" />
</form>

{% if users %}
    <ul>
    {% for user in users %}
        <li><a href="{{ user.picture.url }}">{{ user.picture.url }}</a></li>
        {{user.email}}

    {% endfor %}
    </ul>
{% else %}
    <p>No users.</p>
{% endif %}

{{MEDIA_ROOT}}
