{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static "pyday_social_network/register.css" %}">
<div id="register" class="form">
    <h3> Register </h3>
    <form enctype="multipart/form-data" action="/social/register/" method="post">
        {% csrf_token %}
        {{ form_register }}
        <input type="submit" value="Submit" />
    </form>
</div>
<div id="login" class="form">
    <h3> Login </h3>

    <form enctype="multipart/form-data" action="/social/login/" method="post">
        {% csrf_token %}
        {{ form_login }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock content %}
