html body {
    background: #1D1A21 url('./images/background-PyDay.jpg');
    background-color: #1D1A21;
    opacity: .9;
    color: #FFF;
    display: inline-block;
    height: 100%;
    width: 100%;

}
#logo {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    text-align: left;
}
#content {
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 25px;
    padding: 20px;
    flex-wrap: wrap;
}
#logout {
    text-align: right;
    padding-right: 60px;
    padding-top: 10px;
    width: 30%;
    display: flex;
    flex-direction: row;
    height: 60px;
}
#logbutton:hover {
    background-color: black;
}
#logout > a {
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
    font-size: 16px;
    margin: 3px;
}
#logbutton {
    background-color: #E72C4F;
    border:0px;
    border-radius: 6px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    font-size: 16px;
}
input {
    background-color: rgba(234, 80, 78, 0.3);
    border: 0px;
    padding: 12px;
    border-radius: 6px;
    color: black;
}
input:hover, a:hover{
    opacity: 0.8;
}
input[type="submit"] {
    background-color: #EA504E;
    border:0px;
    border-radius: 6px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    padding-right: 30px;
    padding-left: 30px;
}
#logo-log {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#daily-calendar form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#daily_calendar form input {
    width: 40%;
    margin: 0 auto;
}
#MonthPicker_Button_IconDemo {
    padding-top: 10px;
}
#user-name {
    padding-top: 20px;
    color: black;
    width: 60%;
    text-align: left;
}
