{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% load mathfilters %}
{% load staticfiles %}
<script>
    function overlay() {
    el = document.getElementById("overlay");
    el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>
<link rel="stylesheet" href="{% static "pyday_calendar/daily_event_styles.css" %}">
<table>
    {% for hour, hour_events in hourly_events %}
    <tr>
    <td class="hour">{{hour}}h</td>
        {% for event in hour_events %}
            {% if not event %}
    <td class="notevent"></td>
            {% elif hour != event.from_time|sub:1 %}

            {% else %}
    <td class="event" rowspan="{{event.to_time|sub:event.from_time}}">{{event.title}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div id="daily-calendar" class="ly-calendar">
    Create an event for today:
    {% include "create_event.html" %}
</div>

{% endblock content %}
