{% extends "base.html" %}

{% block content %}
{% include "month_calendar.html" %}

<table class="calendar" id="calendar">
    <h2 style="text-align:center">Events for {{month_readable}} {{year}}</h2>
    <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
    </tr>
    {% for week in calendar %}
    <tr>
        {% for day in week %}
            <td id="{{day|date:'d'}}"><a href="/calendar/daily_events/{{year}}/{{month|stringformat:"02d"}}/{{day|stringformat:"02d"}}">
            {{day}}</a>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock content %}


